### Basic Query

Any query need SELECT FROM WHERE <br> $\Pi_{column}$($\sigma_{condition} Relation$)
```SQL
SELECT column names
FROM Relation
WHERE condition;
```
With Multiple relationsA $\times $ B
```SQL
From A, B
```

Temporarily renaming
```SQL
SELECT e.name, d.name
FROM Employee e, department d
WHERE d.name = 'marketing' AND e.name = 'Horton';
```

Self joins requires renaming
```SQL
SELECT e1.name, e2.name
FROM Employee e1, Employee e2
WHERE e1.salary < e2.salary;
```

\* in SELECT means all attributes of this relation
```SQL
SELECT *
```

Rename attributes 
```SQL
SELECT name AS new_name
```

Conditions allowed, note != is <> 
```SQL
| = | <> | < | > | <= | >= |
AND | OR | NOT
```

Put tuples in order, add this as the final clause, default in ascending order, add DESC to force descending
```SQL
ORDER BY <<attribute list>> ;
ORDER BY <<attribute list>> [DESC];
```
The attribute list can include expressions:
```SQL
ORDER BY attribute_a + attribute_b;
```

Keywords and identifiers are not case-sensitive and white space are ignored

Expressions can be used in SELECT clauses, <br>
operands: attributes, constants
operators: arithmetic ops, string ops
```SQL
SELECT, sid, grade+10 as adjusted
FROM Took;

SELECT dept|| cNum
From Course;
```

Expressions that are a constant
```SQL
SELECT, dept, cNum, 'satisfies' AS breadthRequirement
FROM Course
WHERE breadth;

Pattern operators
```SQL
<<attribute>> LIKE <<pattern>>
<<attribute>> NOT LIKE <<pattern>>
```
`%` any string <br>
`_` any string char
```SQL
SELECT *
FROM Course
Where name LIKE '%Comp%';
```

### Aggregation

`SUM, AVG, COUNT, MIN, MAX` can be applied to a column in a `SELECT`

`COUNT(*)` counts the number of tuples 

`DISTINCT` inside the brackets can stop duplicates from contributing to the aggregation.

`GROUP BY <attributes>` The tuples are grouped according to the values of those attributes and any aggregation give us a single value per group

If any aggregation is used, then each element of the SELECT list must be aggregated or an attribute on the GROUP BY list.

`HAVING` decide which groups to keep. 
```SQL
...
GROUP BY <<attributes>>
HAVING <<condition>>
```

Outside subqueries, HAVING may refer to attributes only if they are either aggregated or an attribute on the GROUP BY list.

Order of execution of a query <br>
Writing query (execution order): 
```SQL 
SELECT (5)
FROM (1)
WHERE (2)
GROUP BY (3)
HAVING (4)
ORDER BY (6)
```

### Set operations

A table can have duplicate tuples, unless it violate an integrity constraint. 

**Set operations with Bags** <br>
Using Multiset operations rather than set operations